* {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

.theme-one {
  --primary-background: hsl(222, 26%, 31%);
  --screen-background: hsl(224, 36%, 15%);
  --keypad-background: hsl(223, 31%, 20%);
  --reset-delete-background: hsl(225, 21%, 49%);
  --reset-delete-shadow: hsl(224, 28%, 35%);
  --equals-background: hsl(6, 63%, 50%);
  --equals-key-shadow: hsl(6, 70%, 34%);
  --keys-background: hsl(30, 25%, 89%);
  --keys-shadow: hsl(28, 16%, 65%);
  --previous-number: hsl(221, 14%, 31%);
  --keys-digits: hsl(0, 0, 100%);
  --header-screen-text: hsl(30, 25%, 89%);
  --reset-delete-keys: hsl(30, 25%, 89%);
  --equals-keys: hsl(30, 25%, 89%);
  --toggle-button: hsl(6, 63%, 50%);
  --toggle-background: hsl(223, 31%, 20%);

  --hover-toggle: hsl(6, 92%, 70%);
  --hover-delete-reset: hsl(224, 27%, 69%);
  --hover-keys: hsl(0, 0%, 90%);
  --hover-equals: hsl(6, 92%, 70%);
}

.theme-two {
  --primary-background: hsl(0, 0%, 90%);
  --screen-background: hsl(0, 0%, 93%);
  --keypad-background: hsl(0, 5%, 81%);
  --reset-delete-background: hsl(185, 42%, 37%);
  --reset-delete-shadow: hsl(185, 58%, 25%);
  --equals-background: hsl(25, 98%, 40%);
  --equals-key-shadow: hsl(25, 99%, 27%);
  --keys-background: hsl(45, 7%, 89%);
  --keys-shadow: hsl(35, 11%, 61%);
  --previous-number: hsl(60, 10%, 19%);
  --keys-digits: hsl(0, 0, 100%);
  --header-screen-text: hsl(0, 0, 100%);
  --reset-delete-keys: hsl(0, 0%, 90%);
  --equals-keys: hsl(0, 0%, 90%);
  --toggle-button: hsl(25, 98%, 40%);
  --toggle-background: hsl(0, 5%, 81%);

  --hover-toggle: hsl(25, 80%, 59%);
  --hover-delete-reset: hsl(185, 42%, 58%);
  --hover-keys: hsl(0, 0%, 93%);
  --hover-equals: hsl(25, 80%, 59%);
}

.theme-three {
  --primary-background: hsl(268, 75%, 9%);
  --screen-background: hsl(268, 71%, 12%);
  --keypad-background: hsl(268, 71%, 12%);
  --reset-delete-background: hsl(281, 89%, 26%);
  --reset-delete-shadow: hsl(285, 91%, 52%);
  --equals-background: hsl(176, 100%, 44%);
  --equals-key-shadow: hsl(177, 92%, 70%);
  --keys-background: hsl(268, 47%, 21%);
  --keys-shadow: hsl(290, 70%, 36%);
  --previous-number: hsla(52, 100%, 62%, 0.751);
  --keys-digits: hsl(52, 100%, 62%);
  --header-screen-text: hsl(52, 100%, 62%);
  --reset-delete-keys: hsl(0, 100%, 100%);
  --equals-keys: hsl(0, 0, 100%);
  --toggle-button: hsl(176, 100%, 44%);
  --toggle-background: hsl(268, 71%, 12%);

  --hover-toggle: hsl(176, 81%, 75%);
  --hover-delete-reset: hsl(281, 49%, 58%);
  --hover-keys: hsl(268, 33%, 40%);
  --hover-equals: hsl(176, 81%, 75%);
}

.calculator-build {
  display: grid;
  grid-template-columns: 6fr repeat(4, 1fr) 6fr;
  grid-template-rows: 15% 1fr 1fr 2fr repeat(6, 1.5fr) 15%;
  grid-column: 1/7;
  background-color: var(--primary-background);
  width: 100%;
  height: 100vh;
}

.calc {
  grid-column: 2/6;
  grid-row: 2/11;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 1.2fr;
  grid-column: 2/6;
  padding-bottom: 4%;
}
.header h1 {
  grid-column: 1/2;
  grid-row: 3/3;
  text-align: left;
  font-size: 1.5rem;
  color: var(--header-screen-text);
}

.header ul {
  grid-column: 5/6;
  grid-row: 2/2;
  text-align: right;
  width: 100%;
  padding: 0;
}
.header li {
  list-style-type: none;
  display: inline;
  font-size: 0.7rem;
  padding: 0 8px;
  color: var(--header-screen-text);
}

form {
  display: grid;
}
.screen {
  grid-column: 1/6;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  height: 5rem;
  border-radius: 8px;
  border: none;
  background-color: var(--screen-background);
  margin-bottom: 1rem;
  font-size: 3rem;
  padding: 10px 5%;
  color: var(--keys);
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
}
.screen::-webkit-scrollbar {
  background-color: var(--screen-background);
}
.screen::-webkit-scrollbar-thumb {
  background-color: var(--toggle-background);
  border-radius: 35px;
}
.screen::-webkit-scrollbar-button:single-button {
  background-color: var(--toggle-button);
  border-radius: 35px;
}

.screen .previous-operand {
  color: var(--previous-number);
  font-size: 1.5rem;
}

.screen .current-operand {
  color: var(--header-screen-text);
  font-size: 2.5rem;
}

.theme {
  grid-column: 4/6;
  grid-row: 3/3;
  display: flex;
  justify-content: end;
  margin-right: 6%;
}

.theme h2 {
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  padding-right: 5px;
  color: var(--header-screen-text);
}
label{
  display: none;
}

.switch {
  width: 60px;
  height: 20px;
  background-color: var(--toggle-background);
  border-radius: 35px;
  display: grid;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 60px;
  background: var(--toggle-background);
  border-radius: 35px;
  padding: 0 5px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--toggle-button) !important;
  border: 1px solid var(--toggle-button) !important;
  border-radius: 35px;
  width: 12px;
  height: 12px;
}
input[type="range"]::-moz-range-thumb {
  background: var(--toggle-button) !important;
  border: 1px solid var(--toggle-button) !important;
  border-radius: 35px;
  width: 12px;
  height: 12px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: var(--toggle-button) !important;
  border: 1px solid var(--toggle-button) !important;
  border-radius: 35px;
}
input[type="range"]:focus::-moz-range-thumb {
  background: var(--toggle-button) !important;
  border: 1px solid var(--toggle-button) !important;
  border-radius: 35px;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: var(--hover-toggle) !important;
  border: 1px solid var(--hover-toggle) !important;
}

input[type="range"]:hover::-moz-range-thumb {
  background: var(--hover-toggle) !important;
  border: 1px solid var(--hover-toggle) !important;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  grid-column: 1/6;
  grid-row: 4/10;
  border-radius: 8px;
  border: none;
  background-color: var(--keypad-background);
}

input[type="button"] {
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--keys-background);
  box-shadow: 0px 4px 0px 0.2px var(--keys-shadow);
  -webkit-box-shadow: 0px 4px 0px 0.2px var(--keys-shadow);
  -moz-box-shadow: 0px 4px 0px 0.2px var(--keys-shadow);
  cursor: pointer;
  color: var(--keys-digits);
}
input[type="button"]:hover {
  background-color: var(--hover-keys);
}
.reset {
  grid-column: span 2;
  background-color: var(--reset-delete-background) !important;
  color: var(--reset-delete-keys) !important;
  box-shadow: 0px 4px 0px 0.2px var(--reset-delete-shadow) !important;
  -webkit-box-shadow: 0px 4px 0px 0.2px var(--reset-delete-shadow) !important;
  -moz-box-shadow: 0px 4px 0px 0.2px var(--reset-delete-shadow) !important;
}
.reset:hover {
  background-color: var(--hover-delete-reset) !important;
}
.equals {
  grid-column: span 2;
  background-color: var(--equals-background) !important;
  color: var(--equals-keys) !important;
  box-shadow: 0px 4px 0px 0.2px var(--equals-key-shadow) !important;
  -webkit-box-shadow: 0px 4px 0px 0.2px (--equals-key-shadow) !important;
  -moz-box-shadow: 0px 4px 0px 0.2px (--equals-key-shadow) !important;
}
.equals:hover {
  background-color: var(--hover-equals) !important;
}
.delete {
  background-color: var(--reset-delete-background) !important;
  color: var(--reset-delete-keys) !important;
  box-shadow: 0px 4px 0px 0.2px var(--reset-delete-shadow) !important;
  -webkit-box-shadow: 0px 4px 0px 0.2px (--reset-delete-shadow) !important;
  -moz-box-shadow: 0px 4px 0px 0.2px (--reset-delete-shadow) !important;
}
.delete:hover {
  background-color: var(--hover-delete-reset) !important;
}


@media only screen and (max-width:1200px){
  .calculator-build {
      grid-template-columns: 4fr repeat(4, 1fr) 4fr;
    }
}
@media only screen and (max-width:900px) {
  .calculator-build {
    grid-template-columns: 2fr repeat(4, 1fr) 2fr;
  }
}
@media only screen and (max-width:600px) {
  .calculator-build {
    grid-template-columns: 1fr repeat(4, 1fr) 1fr;
  }
     .calculator {
      grid-column: 1/7;
       display: grid;
      grid-template-columns: 1fr repeat(4, 1fr) 1fr;
     }
  
     form {
       grid-column: 1/7;
     }
}
@media only screen and (max-width:500px) {
  .calculator-build {
    grid-template-columns: 5% repeat(4, 1fr) 5%;
  }
  .calculator{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr) 5%;
  }
  form{
    grid-column:1/7;
  }
}